@page "/admin/users"
@using Oikos.Web.Components.Layout.PageLayout
@using Oikos.Web.Components.Shared.Dialogs
@using Oikos.Common.Resources



@rendermode RenderMode.InteractiveServer

<PageLayout>
    <HeaderContent>
        <StandardPageHeader Title="@Loc["UserPage_Title"]">
            <ChildContent>
                <MudButton Variant="Variant.Outlined" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Tune" OnClick="ToggleFilters">
                    @Loc["UserPage_Filters"]
                </MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="AddUserClick">
                    @Loc["UserPage_CreateNewTitle"]
                </MudButton>
            </ChildContent>
        </StandardPageHeader>
        <MudCollapse Expanded="_filtersOpen">
            <MudPaper Class="pa-3 mt-2" Elevation="0" Outlined="true">
                <MudStack Row="true" Spacing="2" Class="flex-wrap">
                    <div style="width:160px">
                        <MudTextField T="string" @bind-Value="_searchObject.SearchText" Margin="Margin.Dense" Label="@Loc["UserPage_SearchName"]"
                                      Variant="Variant.Outlined" Clearable Class="search-com"></MudTextField>
                    </div>
                    <div style="width:160px">
                        <MudTextField T="string" @bind-Value="_searchObject.SearchRealName" Margin="Margin.Dense" Label="@Loc["UserPage_SearchRealName"]"
                                      Variant="Variant.Outlined" Clearable Class="search-com"></MudTextField>
                    </div>
                    @* Role filter removed for Admin-only view *@
                    <div style="width:180px">
                        <MudSelect T="bool?" @bind-Value="_searchObject.HasActiveSubscription" Margin="Margin.Dense" Label="@Loc["UserPage_FilterActivePlan"]"
                                   Variant="Variant.Outlined" Clearable Class="search-com">
                            <MudSelectItem Value="@(null as bool?)">@Loc["UserPage_FilterActivePlanAll"]</MudSelectItem>
                            <MudSelectItem Value="@(true as bool?)">@Loc["UserPage_FilterActivePlanYes"]</MudSelectItem>
                            <MudSelectItem Value="@(false as bool?)">@Loc["UserPage_FilterActivePlanNo"]</MudSelectItem>
                        </MudSelect>
                    </div>
                    <div style="width:180px">
                        <MudSelect T="int?" @bind-Value="_searchObject.PartnerId" Margin="Margin.Dense" Label="@Loc["UserPage_FilterPartner"]"
                                   Variant="Variant.Outlined" Clearable Class="search-com">
                            <MudSelectItem Value="@(null as int?)">@Loc["UserPage_FilterPartnerAll"]</MudSelectItem>
                            @foreach (var partner in _partnerList)
                            {
                                <MudSelectItem Value="@((int?)partner.Id)">@partner.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                    <MudStack Row="true" Spacing="1" AlignItems="AlignItems.Center">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Search" OnClick="ApplyFiltersAsync">
                            @Loc["UserPage_Search"]
                        </MudButton>
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary" StartIcon="@Icons.Material.Filled.SearchOff" OnClick="SearchReset">
                            @Loc["UserPage_Reset"]
                        </MudButton>
                    </MudStack>
                </MudStack>
            </MudPaper>
        </MudCollapse>
    </HeaderContent>
    <ChildContent>
        @if (_isLoading)
        {
            <MudStack Spacing="2">
                <MudSkeleton Variant="Variant.Text" Width="40%" Height="24px" />
                <MudSkeleton Variant="Variant.Rectangular" Height="220px" />
            </MudStack>
        }
        else
        {
            <MudTable Items="_users" Hover="true" Dense="true" Class="table-fixed" style="width:100%;">
                <ColGroup>
                    <col style="width:30%;" />
                    <col style="width:10%;" />
                    <col style="width:22%;" />
                    <col style="width:13%;" />
                    <col style="width:8%;" />
                    <col style="width:17%;" />
                </ColGroup>
                <HeaderContent>
                    <MudTh Style="width:30%">@Loc["UserPage_TableH3"]</MudTh>
                    <MudTh Style="width:10%">@Loc["UserPage_TableH7"]</MudTh>
                    <MudTh Style="width:22%">@Loc["UserPage_TableCompany"]</MudTh>
                    <MudTh Style="width:13%">@Loc["UserPage_TablePhone"]</MudTh>
                    <MudTh Style="width:8%">@Loc["UserPage_TableH4"]</MudTh>
                    <MudTh Style="width:17%" class="text-right">@Loc["UserPage_TableH5"]</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel='@Loc["UserPage_TableH3"]' Style="overflow:hidden;">
                        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                            <MudLink Href="@($"/admin/users/{context.Id}")" Underline="Underline.None">
                                @if (string.IsNullOrEmpty(context.Avatar))
                                {
                                    <MudAvatar Color="Color.Primary" Size="Size.Small">
                                        @((string.IsNullOrWhiteSpace(context.FirstName) ? context.RealName : context.FirstName)?.FirstOrDefault())
                                    </MudAvatar>
                                }
                                else
                                {
                                    <MudAvatar Size="Size.Small">
                                        <MudImage Src="@("Avatars/" + context.Avatar)">
                                        </MudImage>
                                    </MudAvatar>
                                }
                            </MudLink>
                            <MudStack Spacing="0" Style="overflow:hidden; min-width:0;">
                                <MudLink Href="@($"/admin/users/{context.Id}")" Underline="Underline.None">
                                    <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                                        <MudText Typo="Typo.subtitle2" Style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">@context.RealName</MudText>
                                        @if (context.HasActiveSubscription)
                                        {
                                            <MudTooltip Text="@Loc["UserPage_ActivePlanIndicator"]" Color="Color.Success">
                                                <MudIcon Icon="@Icons.Material.Filled.Verified" Color="Color.Success" Size="Size.Small" />
                                            </MudTooltip>
                                        }
                                    </MudStack>
                                </MudLink>
                                @if (!string.IsNullOrWhiteSpace(context.Email))
                                {
                                    <MudLink Href="@($"/admin/users/{context.Id}")" Underline="Underline.None">
                                        <MudText Typo="Typo.caption" Class="mud-text-secondary" Style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">@context.Email</MudText>
                                    </MudLink>
                                }
                            </MudStack>
                        </MudStack>
                    </MudTd>
                    <MudTd DataLabel='@Loc["UserPage_TableH7"]' Style="overflow:hidden;">
                        <MudStack Row="true" Spacing="1" Class="flex-wrap">
                            @foreach (var role in context.Roles)
                            {
                                <MudChip T="string" Size="MudBlazor.Size.Small" Color="Color.Primary" Variant="Variant.Outlined">@role</MudChip>
                            }
                        </MudStack>
                    </MudTd>
                    <MudTd DataLabel='@Loc["UserPage_TableCompany"]' Style="overflow:hidden;">
                        <MudText Typo="Typo.body2" Style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">@context.Company</MudText>
                        @if (!string.IsNullOrWhiteSpace(context.CustomerNumber))
                        {
                            <MudText Typo="Typo.caption" Class="mud-text-secondary" Style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">@context.CustomerNumber</MudText>
                        }
                    </MudTd>
                    <MudTd DataLabel='@Loc["UserPage_TablePhone"]' Style="overflow:hidden;">
                        @if (!string.IsNullOrWhiteSpace(context.PhoneNumber))
                        {
                            <MudText Typo="Typo.body2" Style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">@context.PhoneNumber</MudText>
                        }
                        else
                        {
                            <MudText Typo="Typo.caption" Class="mud-text-secondary">-</MudText>
                        }
                    </MudTd>
                    <MudTd DataLabel='@Loc["UserPage_TableH4"]'>
                        <MudSwitch Value="@context.IsEnabled" T="bool"
                                   ValueChanged="@(async v => await ChangeUserActive(context.Id, v))" Color="Color.Primary">
                        </MudSwitch>
                    </MudTd>
                    <MudTd Class="text-right" DataLabel='@Loc["UserPage_TableH5"]'>
                        <MudStack Row="true" Spacing="0" Justify="Justify.FlexEnd" AlignItems="AlignItems.Center">
                            <MudTooltip Text='@Loc["UserPage_Details"]'>
                                <MudIconButton Icon="@Icons.Material.Outlined.RemoveRedEye" Color="Color.Default" Size="Size.Small"
                                               OnClick="@(() => _navManager.NavigateTo($"/admin/users/{context.Id}"))" />
                            </MudTooltip>
                            <MudTooltip Text='@Loc["UserPage_EditTitle"]'>
                                <MudIconButton Icon="@Icons.Material.Outlined.DriveFileRenameOutline" Color="Color.Default" Size="Size.Small"
                                               OnClick="() => EditUserClick(context.Id)" />
                            </MudTooltip>
                            <MudTooltip Text='@Loc["UserPage_ModifyPasswordTitle"]'>
                                <MudIconButton Icon="@Icons.Material.Outlined.Password" Color="Color.Default" Size="Size.Small"
                                               OnClick="() => ChangePasswordClick(context.Id)" />
                            </MudTooltip>
                            <MudTooltip Text='@Loc["UserPage_DeleteTitle"]'>
                                <MudIconButton Icon="@Icons.Material.Outlined.DeleteOutline" Color="Color.Error" Size="Size.Small"
                                               OnClick="() => DeleteUserClick(context.Id)" />
                            </MudTooltip>
                        </MudStack>
                    </MudTd>
                </RowTemplate>
            </MudTable>
        }
    </ChildContent>
    <FooterContent>
        <PagePagination PageInfo="_searchObject" PageChangedClick="PageChangedClick"></PagePagination>
    </FooterContent>
</PageLayout>
