@using Infrastructure.Security
@using Oikos.Web.States
<MudDialog Gutters="false">
	<DialogContent>
                <div style="width:360px;" class="px-6 py-2">
                        <MudText Typo="Typo.h6">@Loc["ChangePassword_Title"]</MudText>
                        <MudText Typo="Typo.caption" Color="Color.Secondary">@Loc["ChangePassword_Subtitle"]</MudText>
                        <EditForm Model="PasswordModel" OnValidSubmit="Submit" style="width:100%;">
                                <DataAnnotationsValidator />
                                <MudTextField Class="mt-4" @bind-Value="PasswordModel.CurrentPassword" Variant="Variant.Outlined" Margin="Margin.Dense"
                                                          Placeholder="@Loc["ChangePassword_CurrentPasswordPlaceholder"]" For="@(() => PasswordModel.CurrentPassword)" InputType="InputType.Password"></MudTextField>
                                <MudTextField Class="mt-4" @bind-Value="PasswordModel.Password" Variant="Variant.Outlined" Margin="Margin.Dense"
                                                          Placeholder="@Loc["ChangePassword_NewPasswordPlaceholder"]" For="@(() => PasswordModel.Password)" InputType="InputType.Password"></MudTextField>
                                <MudTextField Class="mt-4" @bind-Value="PasswordModel.ConfirmPassword" Variant="Variant.Outlined" Margin="Margin.Dense"
                                                          Placeholder="@Loc["ChangePassword_ConfirmPasswordPlaceholder"]" For="@(() => PasswordModel.ConfirmPassword)" InputType="InputType.Password"></MudTextField>
                                <div class="mt-4 d-flex">
                                        <MudSpacer />
                                        <MudButton Variant="Variant.Filled" FullWidth="false" Color="Color.Primary" Size="Size.Medium"
                                                           ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.Save">@Loc["ChangePassword_Submit"]</MudButton>
                                </div>
                        </EditForm>
                </div>
        </DialogContent>
</MudDialog>
